@using ALS.Glance.Web.Resources
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <img src="@Url.Content("~/Content/Images/logo.png")"alt="ALS Glance">
    @Html.Raw(Resources.HomeIntroduction)
</div>

<div class="row">
    <div class="col-md-4">
        <img src="@Url.Content("~/Content/Images/Flexor-carpi-radialis.png")" class="center-block" alt="Flexor-carpi-radialis" height="220">
        @Html.Raw(Resources.HomeFlexorCarpiRadialis)
    </div>
    <div class="col-md-4">
        <img src="@Url.Content("~/Content/Images/Sternocleidomastoideus.png")" class="center-block" alt="Sternocleidomastoideus" height="220">
        @Html.Raw(Resources.HomeSternocleidomastoid)
    </div>
    <div class="col-md-4">
        <img src="@Url.Content("~/Content/Images/Tibialis_anterior.png")" class="center-block" alt="Tibialis_anterior" height="220">
        @Html.Raw(Resources.HomeTibialisAnterior)
    </div>
</div>