@using ALS.Glance.Web.Resources
@model ALS.Glance.Web.Models.PatientViewModel

@{
    ViewBag.Title = Model.Name + " Resume";
}
<ul class="nav nav-tabs">
    <li class="active"><a href="#results" data-toggle="tab">@Resources.PatientResume</a></li>
    <li><a href="#details" data-toggle="tab">@Resources.PatientDetails</a></li>
</ul>
<br />
<div id="main" class="tab-content">
    <div class="tab-pane fade active in" id="results">
        <div class="container-fluid">
            <div class="row">
                <div class="btn-group col-md-3 btn-vert-block">
                    <div id="reset" class="btn btn-default"><i class="fa fa-undo"></i>&nbsp;@Resources.PatientReset</div>
                    <div id="save" class="btn btn-default"><i class="fa fa-save"></i>&nbsp;@Resources.PatientSave</div>
                </div>
                <div id="muscles" class="btn-group col-md-4 btn-vert-block" data-toggle="buttons">
                    <label style="float:left;margin-right:5px; padding-top:7px; font-weight: normal;">@Resources.PatientMuscle </label>
                    @foreach (var item in Model.Muscles)
                    {
                        <div id="@item.Abbreviation" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="@item.Name">
                            <label>
                                <input type="radio">
                                <span>@item.Abbreviation</span>
                            </label>
                        </div>
                    }
                </div>
                <div class="btn-group col-md-5 btn-vert-block">
                    <div id="reportrange" class="btn btn-default dropdown-toggle pull-right">
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                        <span></span> <b class="caret"></b>
                    </div>
                </div>

            </div>
            <div class="row voffset3">
                <div class="col-md-4 col-sm-4">
                    <div class="box ui-draggable ui-droppable">
                        <div class="box-header">
                            <div class="box-name">
                                <i class="fa fa-calendar"></i>
                                <span>Quarter</span>
                            </div>
                            <div class="box-icons">
                                <a class="reset" href="javascript:void(0);" onclick="javascript:quarterChart.filterAll();dc.redrawAll();"><i class="fa fa-undo"></i></a>
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="expand-link">
                                    <i class="fa fa-expand"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                            <div class="no-move"></div>
                        </div>
                        <div class="box-content" style="height: 250px; position: relative;" data-step="1" data-intro="Click on this pie chart to filter by Quarter." data-position='right'>
                            <div style="height: 220px; position: relative;" id="quarterChart" class="dc-chart">
                                <div class="clearfix"></div>
                                <div class="loading">@Resources.PatientLoading</div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="box ui-draggable ui-droppable">
                        <div class="box-header">
                            <div class="box-name">
                                <i class="fa fa-sun-o"></i>
                                <span>Time Of Day</span>
                            </div>
                            <div class="box-icons">
                                <a class="reset" href="javascript:void(0);" onclick="javascript:timeOfDayChart.filterAll();dc.redrawAll();"><i class="fa fa-undo"></i></a>
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="expand-link">
                                    <i class="fa fa-expand"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                            <div class="no-move"></div>
                        </div>
                        <div class="box-content" style="height: 250px; position: relative;" data-step="2" data-intro="Click on this row chart to filter by time of day." data-position='right'>
                            <div style="height: 250px; position: relative;" id="timeOfDayChart" class="dc-chart">
                                <div class="clearfix"></div>
                                <div class="loading">@Resources.PatientLoading</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="box ui-draggable ui-droppable">
                        <div class="box-header">
                            <div class="box-name">
                                <i class="fa fa-clock-o"></i>
                                <span>Hour</span>
                            </div>
                            <div class="box-icons">
                                <a class="reset" href="javascript:void(0);" onclick="javascript:timeHourChart.filterAll();dc.redrawAll();"><i class="fa fa-undo"></i></a>
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="expand-link">
                                    <i class="fa fa-expand"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                            <div class="no-move"></div>
                        </div>
                        <div class="box-content" style="height: 250px; position: relative;">
                            <div style="height: 250px; position: relative;" id="timeHourChart" class="dc-chart" data-step="3" data-intro="Drag and drop to zoom in." data-position='top'>
                                <div class="clearfix"></div>
                                <div class="loading">@Resources.PatientLoading</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="box ui-draggable ui-droppable">
                        <div class="box-header">
                            <div class="box-name">
                                <i class="fa fa-calendar"></i>
                                <span>AUC</span>
                            </div>
                            <div class="box-icons">
                                <a class="reset" href="javascript:void(0);" onclick="javascript:predictionSeriesChart.filterAll();dateRangeChart.filterAll();dc.redrawAll();"><i class="fa fa-undo"></i></a>
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="expand-link">
                                    <i class="fa fa-expand"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                            <div class="no-move"></div>
                        </div>
                        <div class="box-content">
                            <div style="height: 220px; position: relative;">
                                <div style="height: 250px; position: relative;" id="predictionSeriesChart" class="dc-chart">
                                    <div class="clearfix"></div>
                                    <div class="loading">@Resources.PatientLoading</div>
                                </div>
                                <div id="dateRangeChart" class="dc-chart" data-step="4" data-intro="Drag and drop or use mouse wheel to zoom in." data-position='top'>
                                    <div class="clearfix"></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="box ui-draggable ui-droppable">
                        <div class="box-header">
                            <div class="box-name">
                                <i class="fa fa-stethoscope"></i>
                                <span>Last EMG in range</span>
                            </div>
                            <div class="box-icons">
                                <a class="reset" href="javascript:void(0);" onclick="javascript:emgChart.resetZoom();" data-step="6" data-intro="Click here to reset the filters applied to the chart." data-position='left'><i class="fa fa-undo"></i></a>
                                <a class="collapse-link" data-step="7" data-intro="Click here to collapse the panel." data-position='left'>
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="expand-link" data-step="8" data-intro="Click here to expand the panel." data-position='left'>
                                    <i class="fa fa-expand"></i>
                                </a>
                                <a class="close-link" data-step="9" data-intro="Click here to close the panel." data-position='left'>
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                            <div class="no-move"></div>
                        </div>

                        <div class="box-content" style="height: 250px; position: relative;">
                            <div style="width:100%;height: 100%" id='emgChart' data-step="5" data-intro="Drag and drop to zoom in." data-position='top'>
                                <div class="clearfix"></div>
                                <div class="loading">@Resources.PatientLoading</div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="details">
        <div class="container">
            <div class="row">
                <div>
                    <div id="dc-data-count" class="dc-chart">All records selected. Please click on the graph to apply filters.</div>
                </div>
                <table id="dc-data-table" class="table table-hover" style="margin-top: 40px"></table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Home/ApiAuth")
    @Scripts.Render("~/bundles/commonjs")
    @Scripts.Render("~/bundles/patientjs")
    <script>
        $(function() {
            var then = moment();
            var apiClient = new alsglance.ApiClient({
                baseUri: alsglance.baseUri,
                authToken: alsglance.authToken,
                onAuthFail: function() {
                    toastr.error("Error authenticating!", 'ALS Glance');
                }
            });
            //$.when(apiClient.get("Fact?$select=AUC&$expand=Time($select=Hour,TimeOfDay),Date($select=DayOfWeek,Weekday,Date,Year,MonthName,Quarter),Patient,Muscle($select=Name,Abbreviation)&$filter=Patient/Id eq " + @Model.Id))
            $.when(apiClient.get("Facts?$select=AUC,TimeHour,TimeTimeOfDay,DateDayOfWeek,DateWeekday,DateDate,DateYear,DateMonthName,DateQuarter,MuscleName,MuscleAbbreviation,PatientName&$filter=PatientId eq @Model.Id"))
                .then(function(data) {
                    alsglance.dashboard.settings = alsglance.dashboard.settings || JSON.parse(decodeURIComponent('@Html.Raw(Model.Settings)'));
                    alsglance.dashboard.patientId = @Model.Id;
                    data = alsglance.dashboard.patient.addPredictions(data);
                    alsglance.dashboard.patient.load(data, @Model.YearMin, @Model.YearMax);
                    initColors(alsglance.dashboard.settings.colorScheme);
                    alsglance.charts.setBehaviour();
                    alsglance.dashboard.patient.reset();
                    alsglance.dashboard.patient.applyFilters(alsglance.dashboard.settings["P" + @Model.Id]);
                    $.when(apiClient.get("EMG?$select=Data&$top=1&$orderby=Date&$filter=Patient/Id eq @Model.Id"))
                        .then(function(emg) {
                            if (emg.value.length == 0)
                                return;
                            alsglance.dashboard.patient.loadEMG(JSON.parse(emg.value[0].Data));
                            analytics.logActionLoad(then,"Patient");
                        });
                });
            $('[data-toggle="tooltip"]').tooltip();
            alsglance.presentation.showPatientHelpButton('@Resources.Help');
            alsglance.presentation.bindButtonEvents();
            WinMove();
        });
    </script>
}


