@using ALS.Glance.DataAgents.ALS.Glance.Models
@model IEnumerable<DPatient>

@{
    ViewBag.Title = "Patients";
}

<h2>@ViewBag.Title</h2>

<table class="table" id="patients">
    <thead>
        <tr>
            <th>
                Patient Id
            </th>
            <th>
                Born On
            </th>
            <th>
                Diagnosed On
            </th>
            <th>
                Name
            </th>
            <th>
                Sex
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PatientId)
                </td>
                <td>
                    @item.BornOn.Date.ToShortDateString()
                </td>
                <td>
                    @item.DiagnosedOn.Date.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sex)
                </td>
                <td>
                    <a href="@Url.Action("Patients", "Home", new { id = item.Id }, null)"> <span class="fa fa-eye"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    @Scripts.Render("~/bundles/datatablejs")
    <script>
        $(document).ready(function () {
            $('#patients').dataTable();
        });
    </script>
}