@using ALS.Glance.DataAgents.ALS.Glance.Models
@model ALS.Glance.Web.Models.PatientsViewModel

@{
    ViewBag.Title = "Patients";
}

<h2>@ViewBag.Title</h2>
<div class="container-fluid">
    <div class="row">
        <div style="height: 200px; position: relative;">
            <div id="aucBubbleChart" class="dc-chart">
                <div class="loading">Loading...</div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <table class="table" id="patients">
            <thead>
                <tr>
                    <th>
                        Patient Id
                    </th>
                    <th>
                        Born On
                    </th>
                    <th>
                        Diagnosed On
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Sex
                    </th>
                    <th>Resume</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Patients)
                {
                    var patient = item;
                    <tr>
                        <td>


                            @Html.DisplayFor(modelItem => patient.PatientId)
                        </td>
                        <td>
                            @item.BornOn.Date.ToShortDateString()
                        </td>
                        <td>
                            @item.DiagnosedOn.Date.ToShortDateString()
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => patient.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => patient.Sex)
                        </td>
                        <td>
                            <a id="resume" href="javascript:void(0);" onclick="javascript:alsglance.dashboard.patients.waitingDialog.show('@patient.Name');window.location='@Url.Action("Patients", "Home", new { item.Id}, null)';" data-step="2" data-intro="Click here to view the patient resume." data-position='left'> <span id="resume" class="fa fa-eye"></span></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/Home/ApiAuth")
    @Scripts.Render("~/bundles/datatablejs")
    @Scripts.Render("~/bundles/commonjs")

    <script>
        $(function () {

            var apiClient = new alsglance.ApiClient({
                baseUri: alsglance.baseUri,
                authToken: alsglance.authToken,
                onAuthFail: function () {
                    toastr.error("Error authenticating!", 'ALS Glance');
                }
            });
            $.when(apiClient.get("DPatient?$select=Sex,BornOn"))
                    .then(function (data) {
                        alsglance.dashboard.patients.load(data,@Model.AgeMin,@Model.AgeMax);
                        alsglance.dashboard.init();
                        $("#patients_filter").attr("data-position", "bottom");
                        $("#patients_filter").attr("data-step", "1");
                        $("#patients_filter").attr("data-intro", "Click here to filter by the patient name.");
                        alsglance.dashboard.showHelpButton();
                    });
            $('#patients').dataTable({
                "order": [[ 3, "asc" ]],
                responsive: true
            });
        });
    </script>
}
